
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
margin-top: 100px;
font-size: 18px;
}

body
{
background-size:cover;
}

canvas
{
box-shadow: 5px 5px 5px lightslategray;
border-radius: 20px;
margin-top: 30px;
}

#number_of_objects
{
    margin-top: 100px;
    margin-left: 10px;
    font-size: 18px;
}